<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= Setting['org_name'] %>
  </h1>

  <p>Estimado/a voluntario: Usted ha sido inscrito exitosamente en 
    <%= @category.name %> del programa <%= @program.title %>.</p>

  <p>Nos comunicaremos con usted, para coordinar horarios del programa 
    de voluntariado del Distrito Metropolitano de Quito.</p>

  <p>Atentamente,</p>

  <p>Voluntariado Quito Acción (<a href="jovenesyvoluntariado@gmail.com">jovenesyvoluntariado@gmail.com</a>)</p>
</td>
