<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= @program.title %>
  </h1>
  <p><%= @user.name %> se ha inscrito satisfactoriamente en el programa <%=  @program.title %> de voluntariado</p>
</td>