<nav class="admin-sidebar" data-equalizer-watch>
  <ul id="housesadmin_menu" data-accordion-menu data-multi-open="false">
    <li>
      <%= link_to "Administrar", housesadmin_root_path %>
    </li>

    <% if feature?(:houses) %>
      <li class="section-title">
        <a href="#">
          <%= image_tag "help/help_icon_houses.png", size: "26x26" %>
          <strong>Casa Somos</strong>
        </a>
        <ul>
          <li>
            <%= link_to "Administraciones Zonales", housesadmin_zonal_administrations_path %>
          </li>
          <li>
            <%= link_to "Rango de Edades", housesadmin_houses_age_ranges_path %>
          </li>
        </ul>
      </li>
    <% end %>

  </ul>
</nav>