<div class="row section-content">
  <div class="small-12 column">
    <h3 id="volunteerings" data-magellan-target="volunteerings">
      <%= "Voluntariado Quito Acción" %>
    </h3>
    <p class="lead">
            <strong><%= "¿Quieres ser parte del Voluntariado Quito Acción?" %></strong>
          </p>
          <p>El proyecto “Quito Acción” busca articular todas las iniciativas municipales
    alrededor del voluntariado en una sola plataforma. A través de QUITO DECIDE, podrás
    encontrar las ofertas de voluntariado que sean de tu interés e inscribirte para formar parte de él.</p>
    <p>La Ordenanza Metropolitana N° 102, en su Art. 10.- se reconoce y promueve toda iniciativa de voluntariado
    de acción social y desarrollo como una forma libre y autónoma de participación ciudadana, de compromiso comunitario
    responsable y ético con la transformación social, conforme a las demandas generadas desde la comunidad en un proceso
    abierto de intercambio, diálogo y beneficio mutuo. El voluntariado fomenta la cultura de la solidaridad y colaboración
    de los ciudadanos en el desarrollo de la ciudad.</p>
  </div>
</div>
